<div class = "container"> 
    <form>
        <div>
        <label> Brand </label>
        <input type = "text" class="form-control" id ="cbrand" name="brand" [(ngModel)] = "brand"/>
        </div>

        <div>
            <label> Country </label>
            <input type = "text" class="form-control" id ="ccountry" name="country" [(ngModel)] = "country"/>
        </div>

        <div>
            <label> Registration </label>
            <input type = "datetime-local" class="form-control" id = "cregistration" name = "registration" [(ngModel)] = "registration"/>

        </div>

        
    </form>

    <button type = "button" class = "btn btn- btn-light" (click)="addCar()"> Submit </button>
</div>