<div class="container">
    <form>
        <div *ngIf="brands | async as brands">
            <label> Brand </label>
            <select (change)="getBrand($event)">
                <option disabled selected> Select a brand</option>
                <option *ngFor="let brand of brands" [value]="brand.id"> {{brand.name}}</option>
            </select>
        
        </div>

        <div *ngIf="countries | async as countries">
            <label> Country </label>
            <select (change)="getCountry($event)">
                <option disabled selected> Select a country</option>
                <option *ngFor="let country of countries" [value]="country.id"> {{country.name}}</option>
            </select>
        </div>

        <div>
            <label> Registration </label>
            <input type="datetime-local" class="form-control" id="cregistration" name="registration"
                [(ngModel)]="registration" />

        </div>


    </form>

    <button type="button" class="btn btn- btn-light" (click)="addCar()"> Submit </button>
</div>