<div class = "container" *ngIf = "car" > 
    
    <form>
        <div>
            <label for ="car-id"> Id </label>
            <input type = "text" class="form-control" id ="cid" name="id" [(ngModel)] = "car.id"/>
        </div>

        <div *ngIf="brands | async as brands">
            <label> Brand </label>
            <select (change)="getBrand($event)">
                <option disabled selected> Select a brand</option>
                <option *ngFor="let brand of brands" [value]="brand.id"> {{brand.name}}</option>
            </select>
        </div>

        <div *ngIf="countries | async as countries">
            <label> Country </label>
            <select (change)="getCountry($event)">
                <option disabled selected> Select a country</option>
                <option *ngFor="let country of countries" [value]="country.id"> {{country.name}}</option>
            </select>
        </div>

        <div>
            <label> Registration Date</label>
            <input type = "datetime-local" class="form-control"  id = "cregistration" name = "registration" [(ngModel)] = "car.registration"/>

        </div>

       <div>
            <label> Creation Date </label>
            <input type = "datetime-local" class="form-control" id = "ccreatedat" name = "createdAt" [(ngModel)] = "car.createdAt"/>

        </div>
        
        <div>
            <label> Last Update </label>
            <input type = "datetime-local" class="form-control" id = "clastupdate" name = "lastUpdate" [(ngModel)] = "car.lastUpdate"/>

        </div>

        
    </form>

    <button type = "button" class = "btn btn- btn-light" value =" Update a car" (click)="updateCar()"> Update </button>
</div>