<ul class = "nav nav-tabs">
  <!-- <li class = "nav-item">
    <a class = "nav-link active" aria-current="page" routerLink = " "> Inicio </a>
  </li>-->
  <li class = "nav-item"> 
   
 <a class = "nav-link active" aria-current="page" routerLink = "/cars"> Cars Table</a>

</li>
  <li class = "nav-item">
    <a class = "nav-link active" aria-current="page" routerLink = "/createcar"> Create a Car </a>
  </li>
  
  <li class = "nav-item">
    <a class = "nav-link active" aria-current="page" (click) = "logout()"> Log out </a>
  </li>
</ul>

  <router-outlet></router-outlet>

 
 


